@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

#menu{
    text-decoration: none;
    color: rgb(156, 200, 252);
    font-family: 'Lato', sans-serif;
}
.brandImage{
    width: 3rem;
}
.navContainer{
    background-color: rgb(13, 10, 24);
}
.toggler{
    width: 4rem !important;
    background-color: rgb(156, 200, 252) !important;
    color: white !important
}
.active{
    color: white !important;
}